.idea
node_modules
dist/
dist-gleif/
dist-legal-entity/
dist-qvi/
dist-lei-data-user/
.parcel-cache

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
